#workouts ul li {
position: relative;
} 

#workouts ul li span {
	color: #FF33FF; 
	text-shadow: rgba(0,0,0,.7) 0 1px 2px;
} 
.idvalue {
display: none;
}

#workouts ul li .delete {
position: absolute; 
top: 5px; 
right: 6px; 
font-size: 12px; 
line-height: 30px; 
padding: 0 3px; 
border-width: 0 5px; 
-webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
}


#workouts ul li .go {
position: absolute; 
top: 5px; 
right: 40%; 
font-size: 12px; 
line-height: 30px; 
padding: 0 3px; 
border-width: 0 5px; 
-webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
}


#workout ul li {
position: relative;
} 

#workout ul li span {
	color: #FFFFFF; 
	text-shadow: rgba(0,0,0,.7) 0 1px 2px;
} 

#workout ul li .delete {
position: absolute; 
top: 5px; 
right: 6px; 
font-size: 12px; 
line-height: 30px; 
padding: 0 3px; 
border-width: 0 5px; 
-webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
}

#workout ul li .time {
font-size: 10px
}
